<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <url>
        <% userInfo.forEach((item) => { %>
            <li><%= item.id %> - <%= item.username %> - <%=item.dateCreate %></li>
       <%  }); %>
    </url>
</body>
</html>